table, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
}


td {
    padding: 10px;
}

.rendu {
    color:green;
}

.nonRendu {
    background-color: yellow;
    color:red;
    border: 2px solid red;
}

